<input type="text" placeholder="MovieName" #name>

<input type="submit" id="search" value="Search" (click)="gData(name.value)" class="btn">

<div>
    <div *ngIf="searchHistory&&searchHistory.length>0">SEARCH HISTORY</div>
    <ul>
        <li *ngFor="let search of searchHistory,index">{{index}} {{search}}</li>
    </ul>
</div>
<div *ngIf="searchClicked">
<table>
    <tr>
      <th>MovieName </th>
      <th>Year </th>  
    </tr>
    <tr *ngFor="let movie of data">  
      <td>{{movie.Title}}</td>
    <td>{{movie.Year}}</td>
    </tr> 
    </table>
    </div>
